<div id="game-container">
  <% for (let game of games) { %>
  <div class="game-info" votes="<%= game.votes%>">
    <h2>Game: <%= game.title %></h2>

    <ul>
      <li>Type: <%= game.gameType %></li>
      <li>Minimum Players: <%= game.minPlayers %></li>
      <li>Maximum Players: <%= game.maxPlayers %></li>
      <li>Votes: <%= game.votes%></li>
    </ul>
    <div>
      <button name="<%= game._id%>" class="downvote">Downvote</button>
      <button name="<%= game._id%>" class="upvote">Upvote</button>
    </div>
  </div>
  <% } %>
</div>
