<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title><%= title%></title>
  </head>
  <body>
  <%- include('./partials/nav')%>
  <%- include('./partials/new_game_form.ejs')%>

    

    <div id="game-container">
      <% for (let game of games) { %>
      <div class="game-info" votes="<%= game.votes%>">
        <h2>Game: <%= game.title %></h2>
        
        <ul>
          <li>Type: <%= game.gameType %></li>
          <li>Minimum Players: <%= game.minPlayers %></li>
          <li>Maximum Players: <%= game.maxPlayers %></li>
          <li>Votes: <%= game.votes%></li>
        </ul>
        <div>
        <button name="<%= game._id%>" class="downvote">Downvote</button>
        <button name="<%= game._id%>" class="upvote">Upvote</button>
        </div>
      </div>
      <% } %>
    </div>
    <div>
  <button id="next-game-date-button">Next Game When?</button>
  <span id="next-game-date" class="hidden"><%= new Date('April 4, 2021 12:00:00')%></span>
  </div>
    <%- include('./partials/footer.ejs')%>
    
    <script src="./js/vote.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
